@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {background: #5000ca;}.bor {border-radius: 1%!important;}

.intro-page img, .intro-page b{
  margin: auto;
  display: block;
  width: 70%;
  height: 40%;
  text-align: center;
  color: #fff;
  font-size: 13px;
}

form {
  text-align: center;
}

.inpt {
  width: 70%;
  padding: 10px;
  border-radius: 1%;
  border: none;
  background: #eeeeee;
  box-sizing: border-box;
}

.inp {
  margin: auto;
  display: block;
  background: white;
  width: 80%;
  background: #eeeeee;
  box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
}

.but {
  width: 20%;
  padding: 7px;
  background: #5000ca;
  color: white;
  border-radius: 3%;
  border: none;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
  margin: auto;
  display: block;
}