appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
gunicorn==20.1.0
html5lib==1.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mechanize==0.4.5
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.6
virtualenv==20.4.7
webencodings==0.5.1
Werkzeug==2.0.1
